# AWS role for Sagemaker training
aws_role: "arn:aws:iam::010182154664:role/SageMaker_Cinnamon_role"
aws_central_account 533155507761

# Secret name from AWS SecretsManager to get the token for EMS
ems_secret_name: "arn:aws:secretsmanager:us-west-2:787422137509:secret:ms.ems_neptune_token"